<!--Inspiration from: https://www.geeksforgeeks.org/how-to-open-web-cam-in-javascript/-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Take Photo</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body>
    <div class="camera">
        <video id="video">Video stream not available</video>
        <button id="startbutton">Take Photo</button>
    </div>
    <canvas id="canvas"></canvas>
    <div class="output">
        <img id="photo" alt="The displayed image will appear here"/>
    </div>
</body>
</html>