<!--Inspiration from: https://www.geeksforgeeks.org/how-to-open-web-cam-in-javascript/-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Capture and Display</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="camera-container">
        <div id="video-capture">
            <video id="camera-stream" autoplay></video>
            <button id="capture-btn">Capture Photo</button>
        </div>
        <div id="image-capture">
            <canvas id="photo-preview"></canvas>
        </div>
        <div id="image-container">
            <form id="image-upload-form">
                <label for="image-name">Image Name: </label>
                <input id="image-name" type="text" name="image-name" required>
                <button id="upload-btn" type="submit">Upload Photo</button>
            </form>
        </div>
    </div>

    <!--Dynamically pass in the client's access token to script.js-->
    <script th:inline="javascript">
        var accessToken = /*[[${accessToken}]]*/ 'defaultToken';
    </script>

    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>