<!--Inspiration from: https://www.geeksforgeeks.org/how-to-open-web-cam-in-javascript/-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Capture and Display</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="camera-container">
        <video id="camera-stream" autoplay></video>
        <canvas id="photo-preview" style="display: none;"></canvas>
        <button id="capture-btn">Capture Photo</button>
        <button id="upload-btn" style="display: none;">Upload Photo</button>
        <button id="fetch-image-btn">Fetch Image</button>
        <div id="messages"></div>
        <div id="image-container">
            <img id="image-display" src="" alt="Captured image will appear here"/>
        </div>
    </div>

    <!--Dynamically pass in the client's access token to script.js-->
    <script th:inline="javascript">
        var accessToken = /*[[${accessToken}]]*/ 'defaultToken';
    </script>

    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>